*{
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Smythe", system-ui;
} 
.main-container{
    background-color: #C7D59F;
    width: 500px;
    /* height: 950px; */
    margin: 5% auto;
    border-radius: 10px;
    padding-bottom: 20px;
}
h1{
    color: white;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}
h2{
    color: #3a3a3a;
    font-weight: 400;
    font-size: 30px;
    margin: 0;
}
p{
    color: #3a3a3a;
    font-size: 18px;
    margin: 0;
}
.sub-heading{
    color: white;
}
.banner-section{
    background:url('./src/banner.jpg');
    background-size: cover;
    background-position: center;
    padding: 37px 40px;
    border-radius: 10px 10px 0px 0px;
}
.items{
    padding: 10px 40px;

}
.item_para{
    color: #3a3a3a;

}
.item_price{
    color: #3a3a3a;
    margin-top: 10px;
}
.innner-items{
    padding: 30px 0;
    display: flex;
    border-bottom: 1px solid #3a3a3a;
    width: 100%;
}
.emoji_container{
    flex: 1 1 20%;
}
.emoji{
    font-size: 50px;
}

.info_container{
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
}
.quantity{
    display: flex;
    gap: 15px;
    background-color: #3a3a3a;
    align-self: center;
    padding: 10px ;
    color: white;
    border-radius: 10px;
}
.quantity_text{
    color: whitesmoke;
}
.order{
    padding: 10px 40px;
    
}
.order_item{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.order_item p {
    font-size: 20px;
}
.order_heading{
    text-align: center;
}
.total_section{
    margin-top: 10px;
    padding-top:10px ;
    border-top: 1px solid #3a3a3a;
    display: flex;
    justify-content: space-between;
}
.order-btn{
    width: 100%;
    height: 60px;
    background-color:#3a3a3a;
    border: none;
    color: whitesmoke;
    margin-top: 20px;
    font-size: 20px;
    cursor: pointer;
}
.remove{
    color: red;
    background-color: rgb(255, 255, 255);
    padding: 2px 7px;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

/* payment */

.payment{
    display: none;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 320px;
    width: 350px;
    border-radius: 5px;
    box-shadow: 0px 0px 6px 2px #666;
    background-color: whitesmoke;
    text-align: center;
    padding: 20px;
}
.close-modal-btn-container{
    text-align: right;
    margin: 0px;
}
.modal-close-btn {
  font-size: 15px;
  font-weight: bold;
  background-color: black;
  border: 1px solid transparent;
  color: whitesmoke;
  cursor: pointer;
  border-radius: 10px;
}
.modal-close-btn:hover,
.modal-close-btn:active{
    color: red;
    cursor: pointer;
}

input{
    margin-top: 10px; 
    border: 1px solid #b0b0b0;
    padding: 10px;
    width: 100%;
    border-radius: 3px;
}
.modal-btn{
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    background-color: #C7D59F;
    border: none;
    margin-top: 20px;
}
.order-way{
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px;
}